<div class="metadata">
  <div class="u-pull-left">
    <div class="avatar">
      <img [src]="post.author.avatar">
    </div>
    <div class="author">

      <!--=======================================================================|
      | Red Path                                                                 |
      |==========================================================================|
      | Un clic sobre el autor debería navegar a su colección de posts.          |
      |========================================================================-->
      <span class="name blink-font" (click)="navegarPostAutor(post.author.id)">{{ post.author.name }}</span>

      <!--=======================================================================|
      | Blue Path                                                                |
      |==========================================================================|
      | Una vez tengas creado el pipe FromNowPipe, úsalo con la fecha de         |
      | publicación.                                                             |
      |========================================================================-->
      <span class="date">{{ post.publicationDate | fromNow}}</span>

    </div>
  </div>
</div>
<div class="post">
  <h3>{{ post.title }}</h3>
  <app-likes [post]="post"></app-likes>
  <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
  <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
  <hr>
  <div class="html-text" [innerHtml]="plainTextToHtml(post.body)"></div>

  <!--=======================================================================|
  | Yellow Path                                                              |
  |==========================================================================|
  | Suscribe el componente CategoryBoxComponent al evento que hayas definido |
  | en él para notificar los clics sobre las categorías del post.            |
  |========================================================================-->
  <app-category-box [categories]="post.categories" (seleccionIdCategoria)="navegarPostsCategoria($event)"></app-category-box>

  <button class="edit" (click)="navegarEditarPost(post.id)">Editar Post</button>
</div>
